Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/__ExternalActors__/ThirdPerson/Maps/Sandbox/7/JM/N4T8MH6K7VE0KPF3BF2QHX.uasset
Content/__ExternalActors__/ThirdPerson/Maps/Sandbox/E/OD/VCVUGWKCEMZZPGBT9PD3VC.uasset
Content/ThirdPerson/Blueprints/BP_ThirdPersonCharacter.uasset
Content/ThirdPerson/Blueprints/Player/SpaceCop/Exo_Gray.uasset
Content/ThirdPerson/Blueprints/Player/SpaceCop/Exo_Gray_Skeleton.uasset
Content/ThirdPerson/Blueprints/Weapons/CosmoRifle.uasset
Content/ThirdPerson/Blueprints/Weapons/CosmoRifle/CosmoRifleNEW2.uasset
Content/ThirdPerson/Blueprints/Weapons/CosmoRifle/CosmoRifleNEW2_PhysicsAsset.uasset
Content/ThirdPerson/Blueprints/Weapons/CosmoRifle/CosmoRifleNEW2_Skeleton.uasset
Content/ThirdPerson/Blueprints/Weapons/CosmoRifle/Main.uasset
Content/ThirdPerson/Blueprints/Weapons/CosmoRifle/Others.uasset
Content/ThirdPerson/Blueprints/Weapons/WeaponBased.uasset
Content/__ExternalActors__/ThirdPerson/Maps/Sandbox/7/JM/N4T8MH6K7VE0KPF3BF2QHX.uasset
Content/__ExternalActors__/ThirdPerson/Maps/Sandbox/E/OD/VCVUGWKCEMZZPGBT9PD3VC.uasset
Content/ThirdPerson/Blueprints/BP_ThirdPersonCharacter.uasset
Content/ThirdPerson/Blueprints/Player/SpaceCop/Exo_Gray.uasset
Content/ThirdPerson/Blueprints/Player/SpaceCop/Exo_Gray_Skeleton.uasset
Content/ThirdPerson/Blueprints/Weapons/CosmoRifle.uasset
Content/ThirdPerson/Blueprints/Weapons/WeaponBased.uasset
